{% extends "layout-full.html" %}
{% block head %}
<link href="{{ url_for('static', filename='assets/plugins/multiselect/css/multi-select.css') }}" rel="stylesheet"
      type="text/css"/>
{% endblock %}

{% block body %}
<!--main graph-->
<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
            <form class="form-horizontal m-t-20" action="/analytic" method="get">
                <div class="form-group row">
                    <div class="col-12">
                        <div class="input-group">
                            <input type="email" name="keyword" class="form-control" placeholder="keyword"
                                   value="{{ keyword}}">
                            <span class="input-group-btn">
                                <button type="button" class="btn waves-effect waves-light btn-primary">Search</button>
                            </span>
                        </div>
                    </div>
                </div>


            </form>
        </div>

    </div>
</div>
<!--main graph-->

<div class="row">
    <div class="col-lg-8">
        <div class="card-box">
            <h4 class="header-title m-t-0">Latest Projects</h4>
            <p class="text-muted m-b-25 font-13">
                Your awesome text goes here.
            </p>

            <table class="table mb-0 table-responsive">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Project Name</th>
                    <th>Start Date</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th>Assign</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Minton Admin v1</td>
                    <td>01/01/2017</td>
                    <td>26/04/2017</td>
                    <td><span class="badge badge-info">Released</span></td>
                    <td>Coderthemes</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Minton Frontend v1</td>
                    <td>01/01/2017</td>
                    <td>26/04/2017</td>
                    <td><span class="badge badge-success">Released</span></td>
                    <td>Minton admin</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Minton Admin v1.1</td>
                    <td>01/05/2017</td>
                    <td>10/05/2017</td>
                    <td><span class="badge badge-pink">Pending</span></td>
                    <td>Coderthemes</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Minton Frontend v1.1</td>
                    <td>01/01/2017</td>
                    <td>31/05/2017</td>
                    <td><span class="badge badge-purple">Work in Progress</span>
                    </td>
                    <td>Minton admin</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Minton Admin v1.3</td>
                    <td>01/01/2017</td>
                    <td>31/05/2017</td>
                    <td><span class="badge badge-warning">Coming soon</span></td>
                    <td>Coderthemes</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
    <!-- end col -8 -->

    <div class="col-lg-4">
        <div class="card-box">
            <div class="card-box">
                <form role="form">

                    <div class="form-group">
                        <label for="price-range">Price range</label>
                        <div class="input-group" id="price-range">
                            <input type="text" class="form-control" name="start"/>
                            <span class="input-group-addon bg-primary b-0 text-white">to</span>
                            <input type="text" class="form-control" name="end"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>E Commerce</label>
                        <div class="checkbox checkbox-circle">
                            <input id="checkbox7" type="checkbox">
                            <label for="checkbox7">
                                Simply Rounded
                            </label>
                        </div>
                        <div class="checkbox checkbox-info checkbox-circle">
                            <input id="checkbox8" type="checkbox" checked>
                            <label for="checkbox8">
                                Info
                            </label>
                        </div>
                        <div class="checkbox checkbox-primary checkbox-circle">
                            <input id="checkbox-9" type="checkbox">
                            <label for="checkbox-9">
                                Primary
                            </label>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-info">Submit</button>
                </form>
            </div>
        </div>

    </div>
    <!-- end row -->
    {% endblock %}}