{% extends "layout-clear.html" %}
{% block body %}
<div class="text-center">
    <a href="/" class="logo-lg"><i class="mdi mdi-radar"></i> <span>Eanalytic</span> </a>
</div>

<form class="form-horizontal m-t-20" action="/analytic" method="get">

    <div class="form-group row">
        <div class="col-12">
            <input class="form-control" type="text" required="" name="keyword" placeholder="keyword">
        </div>
    </div>

</form>
{% endblock %}