{% extends "layout.html" %}
{% block body %}

<div class="text-center">
    <a href="/" class="logo-lg"><i class="mdi mdi-radar"></i> <span>Minton</span> </a>
</div>

<form class="form-horizontal m-t-20" action="/register">

    <div class="form-group row">
        <div class="col-12">
            <div class="input-group">
                <span class="input-group-addon"><i class="mdi mdi-email"></i></span>
                <input class="form-control" type="email" required="" placeholder="Email">
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-12">
            <div class="input-group">
                <span class="input-group-addon"><i class="mdi mdi-account"></i></span>
                <input class="form-control" type="text" required="" placeholder="Username">
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-12">
            <div class="input-group">
                <span class="input-group-addon"><i class="mdi mdi-key"></i></span>
                <input class="form-control" type="password" required="" placeholder="Password">
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-12">
            <div class="checkbox checkbox-primary">
                <input id="checkbox-signup" type="checkbox" checked="checked">
                <label for="checkbox-signup">
                    I accept <a href="#">Terms and Conditions</a>
                </label>
            </div>
        </div>
    </div>

    <div class="form-group text-right m-t-20">
        <div class="col-xs-12">
            <button class="btn btn-primary btn-custom waves-effect waves-light w-md" type="submit">Register</button>
        </div>
    </div>

    <div class="form-group row m-t-30">
        <div class="col-12 text-center">
            <a href="/login" class="text-muted">Already have account?</a>
        </div>
    </div>

</form>

{% endblock %}