<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <link rel="shortcut icon" href="assets/images/favicon_1.ico">

        <title>Minton - Responsive Admin Dashboard Template</title>

        <link href="{{ url_for('static', filename='assets/plugins/switchery/switchery.min.css') }}" rel="stylesheet" />

        <link href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='assets/css/icons.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet" type="text/css">

        <script src="{{ url_for('static', filename='assets/js/modernizr.min.js') }}"></script>

    </head>
    <body>

        <div class="wrapper-page">
            {% block body %}{% endblock %}
        </div>

        <script>
            var resizefunc = [];
        </script>

        <!-- Plugins  -->
        <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/popper.min.js') }}"></script><!-- Popper for Bootstrap -->
        <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/detect.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/fastclick.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/jquery.slimscroll.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/jquery.blockUI.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/waves.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/wow.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/jquery.nicescroll.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/jquery.scrollTo.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/plugins/switchery/switchery.min.js') }}"></script>

        <!-- Custom main Js -->
        <script src="{{ url_for('static', filename='assets/js/jquery.core.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/jquery.app.js') }}"></script>

	</body>
</html>